@model IEnumerable<CrossConvo.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/PageExplorer.css" asp-append-version="true" />
<script src="~/js/switch_theme.js"></script>


<!DOCTYPE html>
<html>
<head>
    <title>Index</title>


</head>
<body>

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="container">
        <div class="gallery">
            @foreach (var item in Model)
            {
                <div class="image">
                    <strong>@Html.DisplayFor(modelItem => item.Title)</strong><br />
                    Date de publication: @Html.DisplayFor(modelItem => item.PublicationDate)<br />
                    Email: @Html.DisplayFor(modelItem => item.Utilisateur.Email)<br />
                    Contenu: @Html.DisplayFor(modelItem => item.Contenu)<br />
                    @Html.DisplayFor(modelItem => item.Likes) likes<br />
                   
                </div>
            }
        </div>
    </div>

</body>
</html>


