@model IEnumerable<CrossConvo.Models.Utilisateur>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<Utilisateur> SignInManager
@inject UserManager<Utilisateur> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/PageExplorer.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <script src="~/js/switch_theme.js"></script>
    <title>Explorer Page</title>
</head>
<body>

    <h2>Chercher par groupe</h2>
    <form asp-controller="Groupes" asp-action="Search" method="POST">
        <input type="text" name="searchName" id="searchName" placeholder="Rechercher... par nom ou Groupe" />
        <input type="submit" value="Rechercher" />
    </form>

    <div class="entity-container">
        @foreach (var user in Model)
        {
            <div class="entity-card">
                <strong>Prenom: @Html.DisplayFor(modelItem => user.Nom) @Html.DisplayFor(modelItem => user.Prenom)</strong><br />
                <strong>Email: @Html.DisplayFor(modelItem => user.Email)</strong>
                <form id="addFriendForm" method="post" action="/Home/AddFriend">
                    @Html.AntiForgeryToken() 
                    <input type="hidden" name="userId" id="friendUserId" value="@user.Id" />  
                    <div>
                        <p>Ajouter un Ami</p>
                        <button type="submit" class="fas fa-plus icon_ajout add-friend"></button>
                    </div>
                </form>

                @if (user.Posts != null && user.Posts.Any())
                {
                    <div class="post-container">
                        @foreach (var post in user.Posts)
                        {
                            <div class="post">
                                <strong>Titre: @Html.DisplayFor(modelItem => post.Title)</strong><br />
                                <strong>@Html.DisplayFor(modelItem => post.Contenu)</strong><br />
                                <strong>Nom: @Html.DisplayFor(modelItem => post.Utilisateur.Nom)</strong><br />
                                <strong>Email: @Html.DisplayFor(modelItem => post.Utilisateur.Email)</strong><br />
                                <strong>Likes: @Html.DisplayFor(modelItem => post.Likes)</strong><br />

                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <form id="likeForm_@post.PostId" method="post" action="@Url.Action("ToggleLike", "Home")">
                                        @if (post.LikedUserIds.Contains(user.Id))
                                        {
                                            <i class="far fa-heart icon11"></i>
                                            <input type="hidden" name="like" value="false" />
                                        }
                                        else
                                        {
                                            <i class="far fa-heart icon111"></i>
                                            <input type="hidden" name="like" value="true" />
                                        }

                                        <input type="hidden" name="postId" value="@post.PostId" />

                                        <button type="submit" class="btn btn-link">Like</button>
                                    </form>
                                }

                                @if (post.File != null && post.File.Length > 0)
                                {
                                    <p>
                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(post.File)" alt="Post Image" class="img-thumbnail" />
                                    </p>
                                }

                               <form id="commentForm_@post.PostId" method="post" action="@Url.Action("AddComment", "Home")" onsubmit="return validateCommentForm()">
                                    @Html.AntiForgeryToken()
                                    <textarea name="contenuCommentaire" id="contenuCommentaire" placeholder="Ajouter un commentaire..."></textarea>
                                    <input type="hidden" name="postId" value="@post.PostId" />
                                    <button type="submit" class="btn btn-link">Commenter</button>
                                </form>

                                <button class="btn btn-link view-comments-btn" data-post-id="@post.PostId">Voir les commentaire</button>

                                <!-- Modify the comment-container to include a unique identifier based on the post ID -->
                                <div class="comment-container" id="comment-container-@post.PostId" style="border: 1px solid #ccc; padding: 10px; display: none;">
                                    @if (post.Commentaires != null && post.Commentaires.Any())
                                    {
                                        @foreach (var comment in post.Commentaires)
                                        {
                                            <div class="comment" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">
                                                <strong>Email: @Html.DisplayFor(modelItem => comment.Utilisateur.Email)</strong><br />
                                                <strong>Nom: @Html.DisplayFor(modelItem => comment.Utilisateur.Nom)</strong><br />
                                                <strong>Date: @Html.DisplayFor(modelItem => comment.PublicationDate)</strong><br />
                                                <strong>Contenu: @Html.DisplayFor(modelItem => comment.Contenu)</strong><br />
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <p>Ce poste a 0 commentaire</p>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <p>Cette utilisateur a 0 post.</p>
                }
            </div>
        }
    </div>

    <script src="~/js/lightbox-plus-jquery.js"></script>
    <script>
        $(".add-friend").click(function () {
            var userId = $(this).data("user-id");

            $.ajax({
                url: "/Home/AddFriend",
                type: "POST",
                data: { userId: userId },
                success: function (result) {
                    if (result.success) {
                        console.log("Ami bien ajouté");
                    } else {
                        console.error("Erreur pendant l'ajout d'ami: " + result.error);
                    }
                },
                error: function () {
                    console.error("An error occurred during the AJAX request");
                }
            });
        });

        function validateCommentForm() {
        var commentContent = document.getElementById("contenuCommentaire").value.trim();
        var errorElement = document.getElementById("commentError");

        if (commentContent === "") {
                errorElement.innerText = "Commentaire peut pas être vite.";
                return false;
            } else {
                errorElement.innerText = "";
            }
            return true;
        }

        $(document).ready(function () {
        $(".view-comments-btn").click(function () {
            var postId = $(this).data("post-id");
            var commentContainer = $("#comment-container-" + postId);

            // Toggle the visibility of the comments container
            commentContainer.slideToggle();
        });
    });
    </script>
</body>
</html>