@model IEnumerable<CrossConvo.Models.Commentaire>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<script src="~/js/switch_theme.js"></script>


<!DOCTYPE html>
<html>
<head>
    <title>Index</title>


</head>
<body>

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <h1>Recherche</h1>

    <form asp-controller="Utilisateurs" asp-action="Search" method="POST">
        <input type="text" name="searchName" id="searchName" placeholder="Rechercher..." />
        <input type="submit" value="Rechercher" />
    </form>

    <div class="entity-container">
        @foreach (var item in Model)
        {
            <div class="entity-card">
                Date publication: @Html.DisplayFor(modelItem => item.PublicationDate)<br />
                Commentaire: @Html.DisplayFor(modelItem => item.Contenu)<br />
                Nom du poste où est le commentaire: @Html.DisplayFor(modelItem => item.Post.Title)<br />
                Auteur: @Html.DisplayFor(modelItem => item.Utilisateur.Nom) Prénom: @Html.DisplayFor(modelItem => item.Utilisateur.Prenom)<br />
                @Html.DisplayFor(modelItem => item.Likes) likes
                <div>
                    <a asp-action="Edit" asp-route-id="@item.CommentaireId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CommentaireId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CommentaireId">Delete</a>
                </div>
            </div>
        }
    </div>

</body>
</html>
